{% extends "base.html" %}

{% block title %}
Device Enrollment Program
{% endblock %}

{% block description %}
<p class="description">In iOS 7 and later and macOS v10.9 and later, the Device Enrollment Program (DEP) helps to address the mass configuration needs of organizations purchasing and deploying devices in large quantities, without the need for factory customization or pre-configuration of devices prior to deployment.</p>

<p class="description">A device enrolled in the Device Enrollment Program prompts the user to enroll in MDM during the initial device setup process. Additionally, devices enrolled in the program can be supervised over the air. Although Apple’s servers store information about the device’s participation in this program, the MDM profile and login challenge are served by the organization’s server.</p>

<p class="description">The cloud service API provides profile management and mapping. With this API, you can obtain a list of devices, obtain information about those devices, and associate MDM enrollment profiles with those devices.</p>


{% endblock %}

{% block subdesp %}
<p class="comingsoon"><b>APIs COMING SOON</b></p>
{% endblock %}
